{% extends 'base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}
    <h1>Recipe</h1>

    <table class="table">
        <tbody>
            <tr>
                <td><img src="{{app.request.basepath}}/uploads/images/{{recipe.picture}}"></td>
            </tr>
            <tr>
                <th>Recipe_name</th>
                <td>{{ recipe.recipeName }}</td>
            </tr>
            <tr>
                <th>Number_person</th>
                <td>{{ recipe.numberPerson }}</td>
            </tr>
            <tr>
                <th>Preparation_time</th>
                <td>{{ recipe.preparationTime }} min</td>
            </tr>
            <tr>
                <th>Cooking_time</th>
                <td>{{ recipe.cookingTime }} min</td>
            </tr>
            <tr>
                <th>Ingredient</th>
                {# <td>{{ recipe.ingredientRecipe.ingredientName }}</td> #}
            </tr>
            <tr>
                <th>Step</th>

            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ recipe.recipeUser.pseudo }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <h2>Commentaires</h2>

        <h2>Ajouter un commentaire</h2>
        {{ form(comment_form) }}
        
    </div>


    <a href="{{ path('app_recipe_index') }}">back to list</a>

    <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">edit</a>

    {{ include('recipe/_delete_form.html.twig') }}
{% endblock %}
