{% extends 'base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}
    <h1>Recipe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recipe.id }}</td>
            </tr>
            <tr>
                <th>Recipe_name</th>
                <td>{{ recipe.recipeName }}</td>
            </tr>
            <tr>
                <th>Number_person</th>
                <td>{{ recipe.numberPerson }}</td>
            </tr>
            <tr>
                <th>Preparation_time</th>
                <td>{{ recipe.preparationTime }}</td>
            </tr>
            <tr>
                <th>Cooking_time</th>
                <td>{{ recipe.cookingTime }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img src="{{app.request.basepath}}/uploads/images/{{recipe.picture}}"></td>
            </tr>
            <tr>
                    <th>Ingredient</th>
                {% for ingredient in recipe.recipeIngredient %}
                    <td>{{ recipeIngredient.ingredientName }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Step</th>
                {# <td>{{ recipe.recipeStep }}</td> #}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recipe_index') }}">back to list</a>

    <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">edit</a>

    {{ include('recipe/_delete_form.html.twig') }}
{% endblock %}
